root = true

# Global (safe) settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 120

# BACKEND
[*.cs]
indent_style = space
indent_size = 4
max_line_length = 120

# FRONTEND
[*.{ts,js,mjs,vue,css,html}]
indent_style = tab
indent_size = 2
max_line_length = 100

# DATA & CONFIGS
[*.{json,yaml,yml,xml,xsd,csproj,http,npmrc}]
indent_style = space
indent_size = 2
max_line_length = 120

# MARKDOWN
[*.md]
trim_trailing_whitespace = false
max_line_length = 120
