html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	user-select: none;
}

#app,
button {
	font-family: var(--paws-font-primary);
	color: var(--paws-color-text-primary);
	font-weight: 500; /* Minimum visual weight as requested */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	opacity: 0.999; /* Force grayscale antialiasing by creating a compositor layer */
}

body {
	background-color: var(--paws-color-bg-titlebar);
}

*::-webkit-scrollbar {
	display: none;
}
