.switch {
	display: flex;
	justify-content: center;
}

.content {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 12px;
}

.contentBlock {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
