/**
 * paws-light.css - Светлая базовая тема
 */
@layer themes {
  :root {
    /* Fonts */
    --paws-font-primary: "Wix Madefor Display", "Inter", system-ui, sans-serif;
    --paws-font-mono: "Azeret Mono", monospace;

    --paws-font-weight-light: 450;
    --paws-font-weight-normal: 550;
    --paws-font-weight-medium: 600;
    --paws-font-weight-bold: 700;

    /* Rounding */
    --paws-rounding-normal: 8px;
    --paws-rounding-normal-inner: 6px;
    --paws-rounding-medium: 12px;
    --paws-rounding-medium-inner: 9px;
    --paws-rounding-big: 16px;

    /* Colors - Light Theme */
    --paws-color-accent-primary: #ffa4c1;
    --paws-color-accent-subprimary: #ffe5ed;
    --paws-color-accent-secondary: #73092a;
    --paws-color-accent-primary-hover: #e790ac;
    --paws-color-accent-subprimary-hover: #ecccd6;

    --paws-color-inactive-primary: #cecece;
    --paws-color-inactive-sub: #e4e4e4;
    --paws-color-inactive-secondary: #474747;
    --paws-color-inactive-primary-hover: #c4c4c4;
    --paws-color-inactive-sub-hover: #dddddd;

    --paws-color-text-primary: #252525;
    --paws-color-text-secondary: #a1a1a1;

    --paws-color-bg-primary: #fafafa;
    --paws-color-bg-subprimary: #eaeaea;
    --paws-color-bg-secondary: #f4f4f4;
    --paws-color-bg-translucent: rgba(0, 0, 0, 0.02);
    --paws-color-bg-tertiary: #efefef;
    --paws-color-bg-titlebar: #eeeeee;
    --paws-color-border-main: rgba(0, 0, 0, 0.1);

    --paws-color-interactive-primary: #e4e4e4;
    --paws-color-interactive-secondary: #fafafa;

    --paws-color-success: #6ec071;
    --paws-color-warning: #fcd45e;
    --paws-color-error: #f56f66;
  }
}
