@layer base, custom;

/* This file provides the base for all themes, including smooth transitions. */
.paws-theme-transitioning * {
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out,
		border-color 0.3s ease-in-out;
}
/* Global Reset for Plugins */
body {
	margin: 0;
	padding: 0;
}

/* Fix for scrollbar flicker: Hide scrollbars globally in plugins */
*::-webkit-scrollbar {
	display: none;
}
